<div class="header-home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="logo">
          {% include 'includes/logo' %}
        </div>
        <a href="#big-slide-panel" class="big-slide-link no-underline visible-xs-block">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="col-sm-7 hidden-xs">
        {% include 'includes/nav-home' %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>{{meta.slogan1}}</h1>
        <h2>{{meta.slogan2}}</h2>
        <p>
          <a class="btn btn-info no-underline" data-scroll-to="#team" data-scroll-offset="-122">Learn More</a>
          <a class="btn btn-info no-underline" data-scroll-to="#get-started" data-scroll-offset="-122">Get Started</a>
        </p>
      </div>
    </div>
  </div>
  <a class="jump-down no-underline">
    <i class="fa fa-chevron-circle-down" data-scroll-to="#team" data-scroll-offset="-122"></i>
  </a>
</div>
